<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta property='og:type' content='website'> 
    <meta property='og:title' content='Inagakiのポートフォリオ'>
    <meta property='og:description' content='Inagakiのポートフォリオサイトです。'>
    <meta name="description" content="Inagakiのポートフォリオサイトです" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=M+PLUS+Rounded+1c&family=Roboto&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    
    <title>Portfolio-Index</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/skill">SKILL</a>
            </li>
            <li>
                <a href="/results">Results</a>
            </li>
            <li>
                <a href="#Contact">Contact</a>
            </li>
        </ul>
    </header>
    <div class="container">
        
    </div>
    <footer id="Contact">
        <p>電話:080-8868-2598</p>
        <p>メール:inayu0514@gmail.com</p>
    </footer>
</body>
</html>