* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*header*/

  .header {
    position: relative;
  }
  .header .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header .imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  .header div img{
    height: 100px;
    width: 100px;
  }

  /*mecontent*/




  /*maya*/



  /*c++s*/